<%- include('../partials/header') %>

<div class="show-container">
    <div class="section">
        <h2><%= book.title %></h2>
        <img src="<%= book.imagePath %>" alt="<%= book.title %> Cover Image" />
        <ul>
            <li>Author: <%= book.author %></li>
            <li>Publisher: <%= book.publisher %></li>
            <li>Published Date: <%= book.published_date %></li>
            <li>Summary: <%= book.summary %></li>
            <li>Price: $<%= Number(book.price).toFixed(2) %></li>
        </ul>
    </div>
    <form method="POST" action="/carts">
      <input type="hidden" name="bookId" value="<%= book._id %>">
      <input type="hidden" name="title" value="<%= book.title %>">
      <input type="hidden" name="price" value="<%= book.price %>">
      <input type="hidden" name="imagePath" value="<%= book.imagePath %>">
      <button type="submit">Add to Cart</button>
    </form>
    
    <!--comment and rating below-->

    <% if (user) { %>
      <form id="add-review-form" method="POST" action="/books/<%=book._id%>/details">
          <label for="content">Content:</label><br>
          <textarea id="content" name="content"></textarea><br>
          <label for="rating">Rating (1-5):</label><br>
          <input id="rating" name="rating" type="number" min="1" max="5"><br>
          <button type="submit">Submit Review</button>
      </form>
  <% } else { %>
      <p>You must be logged in to post a review.</p>
  <% } %>

  <!--Show review and rating -->
    <% if (book.details.length) { %>
      <table class="reviews-table">
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
            <th>Edit</th>
            <th>Delete</th>
              <!-- Additional column for the delete button -->
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %>
          <% book.details.forEach(function(detail) { %>
            <% total += detail.rating %>
            <tr class="review">
              <td class="review-user"><img alt="avatar" src="<%= detail.userAvatar %>" referrerpolicy="no-referrer" ><%= detail.userName %></td>
              <td><%= detail.createdAt.toLocaleDateString() %></td>
              <td><%= detail.content %></td>
              <td><%= detail.rating %></td>
              <td>
                <% if (user?._id.equals(detail.user)) { %>
                  <form action="/details/<%= detail._id %>?_method=PUT" method="POST">
                    <input name="content" value="<%= detail.content %>">
                    <button type="submit">UPDATE REVIEW</button>
                </form>
                <% } %>
              </td>
              <td>
                <% if (user?._id.equals(detail.user)) { %>
                  <form action="/details/<%= detail._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }) %>
          <!--Display the avg-->
        </tbody>
        <tr>
          <td colspan="3"></td>  <!-- Increase the colspan by one to account for the new column -->
          <td><strong><%= (total / book.details.length).toFixed(1) %></strong></td>
        </tr>
      </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
    <% } %>

<%- include('../partials/footer') %>