<%- include('../partials/header') %>

<h1>Your Cart</h1>

<% let total=0 %>
<% cart.forEach(function(item) { %>
  <% total+= item.price %>
  <div class="cart-item">
    <img src="<%= item.imagePath %>" alt="<%= item.title %> Cover Image" />
    <h2><%= item.title %></h2>
    <p>Price: <%= Number(item.price).toFixed(2) %></p>
    <form method="POST" action="/carts/<%= item._id %>?_method=DELETE">
        <button type="submit">Remove</button>
    </form>
  </div>

<% }) %>
  <p>Total Price is: <strong>$<%= Number(total).toFixed(2) %></strong></p>
  <form method="POST" action="/carts/checkout">
    <button id="submit" type="submit">Place Your Order</button>
  </form>
  
  <%- include('../partials/footer') %>